/* Header classes */

.nav-back {
  background: #ffb627;
}

.about {
  margin-top: 100px;
}

.about-text {
  font-size: 24px;
  line-height: 1.4;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 100px;
}

/* NEW HERO */

#parent {
  /* margin: 0 auto; */
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#heroimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-image: url("../public/img/P.jpg");
  /* z-index: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.hText {
  font-size: 70px;
  /* margin-top: -300px; */
  margin-bottom: 20px;
  color: #ffb627;
  opacity: 0.8;
  font-weight: bold;
  text-shadow: 5px 5px 10px black;
}

/* @media screen and (min-width: 651px) and (max-width: 1000px) {

}

@media only screen and (min-width: 300px) and (max-width: 667px) {
} */

/* @media only screen and (min-device-width: 300px) and (max-device-width: 667px) {
  .hero-text {
    font-size: 30px;
  }
} */

.postTextArea {
  height: 50px;
}
/* FOOTER  */

.main-footer {
  display: flex;
  align-self: flex-end;
  position: relative;

  bottom: 0;
  width: 100%;
  height: auto; /* Height of the footer */

  background: #ffb627;
}

.iconStyle {
  width: 60px;
  height: 60px;
  color: #333533;
  opacity: 0.4;
  margin-left: 60px;
  margin-top: 10px;
}

.iconStyle:hover {
  opacity: 1;
}

#logoWN {
  width: 100px;
  height: 100px;
  /* margin-left: 125px;
  margin-top: -10px; */
  margin-left: -100px;
}

#whatever {
  padding-left: 20px;
}

#whatevernowFooterList {
  width: 100px;
}

#contributors {
  /* padding-right: 300px; */
  margin-left: -70px;
}

#contributorList {
  margin-left: -70px;
}

#copy {
  margin-left: -30px;
}

.nounderline {
  text-decoration: none !important;
  color: black;
}

.nounderline:hover {
  color: gray;
}

.name {
  color: #d6d6d6;
}

#upLoadBtn {
  font-size: 16px;
  width: 150px;
}
#publishBtn {
  font-size: 16px;
  width: 150px;
}

@media only screen and (min-width: 200px) and (max-width: 700px) {
  .hText {
    margin-top: -150px;
    font-size: 50px;
  }

  .about-text {
    font-size: 16px;
    display: flex;
    justify-content: center;
  }

  #logoWN {
    width: 70px;
    height: 70px;
    margin-left: 5px;
  }

  #whatever {
    margin-left: 20px;
  }

  #whatevernowFooter {
    font-size: 16px;
  }

  #whatevernowFooterList {
    font-size: 12px;
  }

  #contributors {
    font-size: 16px;
    margin-left: 0px;
  }

  #contributorList {
    font-size: 12px;
    margin-left: 0px;
  }

  .iconStyle {
    width: 50px;
    height: 50px;
    /* margin-left: 15px;
    margin-top: -70px; */
    margin-left: 200px;
    margin-bottom: 10px;
  }

  #copy {
    margin-left: -30px;
  }

  #upLoadBtn {
    font-size: 16px;
    width: 150px;
  }

  #publishBtn {
    font-size: 16px;
    width: 150px;
  }

  .postTextArea {
    width: 100px;
  }
}
