/* Header classes */

.nav-back {
  background: #ffb627;
}

.about {
  margin-top: 100px;
}

.about-text {
  font-size: 24px;
  line-height: 1.4;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 100px;
}

/* NEW HERO */

#parent {
  /* margin: 0 auto; */
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#heroimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-image: url("../public/img/P.jpg");
  /* z-index: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.hText {
  font-size: 70px;
  /* margin-top: -300px; */
  margin-bottom: 20px;
  color: #ffb627;
  opacity: 0.8;
  font-weight: bold;
  text-shadow: 5px 5px 10px black;
}

@media screen and (min-width: 200px) and (max-width: 600px) {
  .hText {
    display: flex;
    justify-content: center;
    /* margin-top: -200px; */
  }
}

/* @media screen and (min-width: 651px) and (max-width: 1000px) {

}

@media only screen and (min-width: 300px) and (max-width: 667px) {
} */

/* @media only screen and (min-device-width: 300px) and (max-device-width: 667px) {
  .hero-text {
    font-size: 30px;
  }
} */

.postTextArea {
  height: 50px;
}
/* FOOTER  */

.main-footer {
  display: flex;
  align-self: flex-end;
  position: relative;

  bottom: 0;
  width: 100%;
  height: 330px; /* Height of the footer */

  background: #ffb627;
}

.iconStyle {
  width: 50px;
  height: 50px;
  color: #333533;
  margin-top: 10px;
  opacity: 0.7;
}

.iconStyle:hover {
  opacity: 1;
}

#logo {
  width: 70px;
  height: 70px;
}
#logotwo {
  width: 80px;
  height: 80px;
}

.nounderline {
  text-decoration: none !important;
  color: black;
}

.nounderline:hover {
  color: gray;
}

.name {
  color: #d6d6d6;
}

@media only screen and (min-width: 300px) and (max-width: 667px) {
}
